<a href="https://colab.research.google.com/github/27Roger/Data-Science/blob/main/Github_IDS_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from scipy.stats import mannwhitneyu, ttest_ind
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("movieReplicationSet.csv")
df.head()
# df.shape

,The Life of David Gale (2003),Wing Commander (1999),Django Unchained (2012),Alien (1979),Indiana Jones and the Last Crusade (1989),Snatch (2000),Rambo: First Blood Part II (1985),Fargo (1996),Let the Right One In (2008),Black Swan (2010),...,When watching a movie I cheer or shout or talk or curse at the screen,When watching a movie I feel like the things on the screen are happening to me,As a movie unfolds I start to have problems keeping track of events that happened earlier,"The emotions on the screen ""rub off"" on me - for instance if something sad is happening I get sad or if something frightening is happening I get scared",When watching a movie I get completely immersed in the alternative reality of the film,Movies change my position on social economic or political issues,When watching movies things get so intense that I have to stop watching,Gender identity (1 = female; 2 = male; 3 = self-described),Are you an only child? (1: Yes; 0: No; -1: Did not respond),Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)
0,NaN,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,2.0,5.0,5.0,5.0,1.0,1.0,0,1
1,NaN,NaN,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,1.0,6.0,5.0,3.0,2.0,1.0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,4.0,3.0,5.0,5.0,4.0,4.0,1.0,1,0
3,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,4.0,...,3.0,1.0,1.0,4.0,5.0,3.0,1.0,1.0,0,1
4,NaN,NaN,3.5,NaN,0.5,NaN,0.5,1.0,NaN,0.0,...,2.0,3.0,2.0,5.0,6.0,4.0,4.0,1.0,1,1

In [9]:
def get_median_distribution(x_columns, y_columns, label_type):
    x_medians = df[x_columns].median()
    y_medians = df[y_columns].median()
    median_of_x = np.median(x_medians.values)
    median_of_y = np.median(y_medians.values)

    # plt.scatter(x_medians.value_counts().keys(), x_medians.value_counts().values, label=label_type)
    # plt.scatter(y_medians.value_counts().keys(), y_medians.value_counts().values, label="Not "+label_type)
    # plt.legend()

    # print(label_type, ": median :", median_of_x)
    # print(x_medians.value_counts())
    # print("\n\nNot "+label_type, ": median :", median_of_y)
    # print(y_medians.value_counts())

    return x_medians, y_medians

def check_category_difference(movie_name, c1_data, c2_data):
  c1 = c1_data[movie_name].values
  c1 = c1[np.isfinite(c1)]
  c2 = c2_data[movie_name].values
  c2 = c2[np.isfinite(c2)]
  t, tp = ttest_ind(c1, c2)
  U, up = mannwhitneyu(c1, c2, alternative="two-sided")
  return(tp, up)

def check_category_difference1(movie_name, c1_data, c2_data):
  c1 = c1_data[movie_name].values
  c1 = c1[np.isfinite(c1)]
  c2 = c2_data[movie_name].values
  c2 = c2[np.isfinite(c2)]
  t, tp = ttest_ind(c1, c2)
  U, up = mannwhitneyu(c1, c2, alternative="greater")
  return(tp,up)

def check_difference(c1_data, c2_data):
  c1 = c1_data.values
  c1 = c1[np.isfinite(c1)]
  c2 = c2_data.values
  c2 = c2[np.isfinite(c2)]
  t, tp = ttest_ind(c1, c2)
  U, up = mannwhitneyu(c1, c2, alternative="two-sided")
  return(tp,up)

## 1. Popularity Effect

In [7]:
movies = df.columns.to_list()[:400]
not_null=np.empty((1,400))
pop_median=[]
unpop_median=[]
for i in range(400):
    one_movie=pd.to_numeric(df[movies[i]],errors='coerce').values
    one_movie=one_movie[np.isfinite(one_movie)]
    not_null[0][i]=len(one_movie)
pop_median_det=np.median(not_null)

#popularity_index = (movies.shape[0] - movies.isnull().sum()).sort_values()
#not_popular_movies = list(not_null[:200])
#popular_movies = list(not_null[200:])
not_popular_movies=[]
popular_movies=[]
for i in range(400):
  if not_null[0][i]>199:
    popular_movies.append(movies[i])
  else:
    not_popular_movies.append(movies[i])

for i in range(200):
  one_movie=pd.to_numeric(df[not_popular_movies[i]],errors='coerce').values
  one_movie=one_movie[np.isfinite(one_movie)]
  unpop_median.append(np.median(one_movie))

for i in range(len(popular_movies)):
  one_movie=pd.to_numeric(df[popular_movies[i]],errors='coerce').values
  one_movie=one_movie[np.isfinite(one_movie)]
  pop_median.append(np.median(one_movie))

combinedData=np.transpose(np.array([pop_median,unpop_median]))
#x, y = get_median_distribution(popular_movies, not_popular_movies, "Popular")
U1, p = mannwhitneyu(combinedData[0], combinedData[1], alternative="greater")
print(U1, p)
print("\n\nP value =", p)

33336.0 5.245015446529427e-35


P value = 5.245015446529427e-35

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

## 2. New vs Old - Age Effect

In [ ]:
movie_date = []
for column in movies.columns:
    movie_date.append((column, int(column[-5:-1])))
sorted_movie_date = sorted(movie_date, key=lambda x:x[1])
old_movies = sorted_movie_date[:200]
new_movies = sorted_movie_date[200:]
old_movies_list = [x[0] for x in old_movies]
new_movies_list = [x[0] for x in new_movies]
x, y = get_median_distribution(new_movies_list, old_movies_list, "Newer")
# U1, p = mannwhitneyu(x, y, alternative="two-sided",method="exact")
# print(U1, p)
# print("\n\nP value =", p)

## 3. Shrek - Gender Effect

In [5]:
gender_column = "Gender identity (1 = female; 2 = male; 3 = self-described)"
male_data =  df[df[gender_column]==2].iloc[:,:400]
female_data =  df[df[gender_column]==1].iloc[:,:400]
# self_described_data = df[df[gender_column]==3].iloc[:,:400]

tp, up = check_category_difference("Shrek (2001)", male_data, female_data)
print("T Test P value =", tp)
print("Whittney U Test P value =", up)

T Test P value = 0.27087511813734183
Whittney U Test P value = 0.050536625925559006

## 4. Proportion of Movies - Gender Effect

In [ ]:
columns = movies.columns
count = 0
for column in columns:
  p = check_category_difference(column, male_data, female_data)
  if p<=0.005:
    # print(column, p)
    count+=1
print(count, "/",len(columns))
print("Propotion :", count/ len(columns))

46 / 400
Propotion : 0.115

## 5. Lion King - Only Child Effect

In [6]:
only_child_columns = "Are you an only child? (1: Yes; 0: No; -1: Did not respond)"
only_child_data =  df[df[only_child_columns]==1].iloc[:,:400]
sibling_data =  df[df[only_child_columns]==0].iloc[:,:400]
tp,up = check_category_difference("The Lion King (1994)", only_child_data, sibling_data)
print("T Test P value =", tp)
print("Whittney U Test P value =", up)

T Test P value = 0.04026705526268264
Whittney U Test P value = 0.04319872995682849

## 6. Proportion of Movies - Only Child Effect

In [ ]:
columns = movies.columns
count = 0
for column in columns:
  p = check_category_difference(column, only_child_data, sibling_data)
  if p<=0.005:
    # print(column, p)
    count+=1
print(count, "/",len(columns))
print("Propotion :", count/ len(columns))

10 / 400
Propotion : 0.025

## 7. The Wolf of Wall Street - Social Watching Effect

In [7]:
social_watching_columns = "Movies are best enjoyed alone (1: Yes; 0: No; -1: Did not respond)"
alone_data =  df[df[social_watching_columns]==1].iloc[:,:400]
social_data =  df[df[social_watching_columns]==0].iloc[:,:400]
tp,up = check_category_difference("The Wolf of Wall Street (2013)", alone_data, social_data)
print("T Test P value =", tp)
print("Whittney U Test P value =", up)

T Test P value = 0.11738913665664574
Whittney U Test P value = 0.1127642933222891

## 8. Proportion of Movies - Social Watching Effect

In [ ]:
columns = movies.columns
count = 0
for column in columns:
  p = check_category_difference(column, alone_data, social_data)
  if p<=0.005:
    # print(column, p)
    count+=1
print(count, "/",len(columns))
print("Propotion :", count/ len(columns))

6 / 400
Propotion : 0.015

## 9. Home Alone VS Finding Nemo

In [10]:
home_alone = df["Home Alone (1990)"]
nemo = df["Finding Nemo (2003)"]
tp,up = check_difference(home_alone, nemo)
print("T Test P value =", tp)
print("Whittney U Test P value =", up)

T Test P value = 6.405049625567131e-11
Whittney U Test P value = 8.815719392857246e-12

## 10. Consistency of Franchises

In [ ]:
franchises = ["Star Wars", "Harry Potter", "The Matrix", "Indiana Jones", "Jurassic Park", "Pirates of the Caribbean", "Toy Story", "Batman"]
franchise_groups = {}
for franchise in franchises:
  franchise_groups[franchise] = []
  print("\n"+franchise)
  for c in df.columns:
    if franchise in c:
      franchise_groups[franchise].append(c)
      print(c)

Star Wars
Star Wars: Episode IV - A New Hope (1977)
Star Wars: Episode II - Attack of the Clones (2002)
Star Wars: Episode V - The Empire Strikes Back (1980)
Star Wars: Episode 1 - The Phantom Menace (1999)
Star Wars: Episode VII - The Force Awakens (2015)
Star Wars: Episode VI - The Return of the Jedi (1983)

Harry Potter
Harry Potter and the Sorcerer's Stone (2001)
Harry Potter and the Deathly Hallows: Part 2 (2011)
Harry Potter and the Goblet of Fire (2005)
Harry Potter and the Chamber of Secrets (2002)

The Matrix
The Matrix Revolutions (2003)
The Matrix Reloaded (2003)
The Matrix (1999)

Indiana Jones
Indiana Jones and the Last Crusade (1989)
Indiana Jones and the Temple of Doom (1984)
Indiana Jones and the Raiders of the Lost Ark (1981)
Indiana Jones and the Kingdom of the Crystal Skull (2008)

Jurassic Park
The Lost World: Jurassic Park (1997)
Jurassic Park III (2001)
Jurassic Park (1993)

Pirates of the Caribbean
Pirates of the Caribbean: Dead Man's Chest (2006)
Pirates of the Caribbean: At World's End (2007)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)

Toy Story
Toy Story 2 (1999)
Toy Story 3 (2010)
Toy Story (1995)

Batman
Batman & Robin (1997)
Batman (1989)
Batman: The Dark Knight (2008)

In [ ]:
for k,v in franchise_groups.items():
  print(k,len(v))

Star Wars 6
Harry Potter 4
The Matrix 3
Indiana Jones 4
Jurassic Park 3
Pirates of the Caribbean 3
Toy Story 3
Batman 3

In [ ]:
for c in df.columns:
  if "Nemo" in c:
    print(c)

Finding Nemo (2003)

#STAR WARS

In [11]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Star Wars"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]
M1=pd.to_numeric(df[sequels[3]],errors='coerce').values
M1 = M1[np.isfinite(M1)]
M6=pd.to_numeric(df[sequels[4]],errors='coerce').values
M6 = M6[np.isfinite(M6)]
M7=pd.to_numeric(df[sequels[5]],errors='coerce').values
M7 = M7[np.isfinite(M7)]

combinedData = np.transpose(np.array([M1,M2,M4,M5,M6,M7], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("Significant difference between 2nd and 4th episode")

['Star Wars: Episode IV - A New Hope (1977)', 'Star Wars: Episode II - Attack of the Clones (2002)', 'Star Wars: Episode V - The Empire Strikes Back (1980)', 'Star Wars: Episode 1 - The Phantom Menace (1999)', 'Star Wars: Episode VII - The Force Awakens (2015)', 'Star Wars: Episode VI - The Return of the Jedi (1983)']
U-value: 124054.5 P-value: 0.4503093559063731
U-value: 101449.0 P-value: 2.7865432291796803e-18
U-value: 125332.0 P-value: 0.08189846600030656
U-value: 116173.0 P-value: 0.5732544284765428
U-value: 116247.0 P-value: 0.11405028669275127
Significant difference between 2nd and 4th episode

#Harry Potter

In [14]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Harry Potter"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]
M1=pd.to_numeric(df[sequels[3]],errors='coerce').values
M1 = M1[np.isfinite(M1)]


combinedData = np.transpose(np.array([M4,M1,M5,M2], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

["Harry Potter and the Sorcerer's Stone (2001)", 'Harry Potter and the Deathly Hallows: Part 2 (2011)', 'Harry Potter and the Goblet of Fire (2005)', 'Harry Potter and the Chamber of Secrets (2002)']
U-value: 384178.0 P-value: 0.09816683002933
U-value: 342001.0 P-value: 0.8040524609201452
U-value: 331566.0 P-value: 0.4973063104455706

#The Matrix

In [13]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="The Matrix"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]



combinedData = np.transpose(np.array([M5,M2,M4], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

['The Matrix Revolutions (2003)', 'The Matrix Reloaded (2003)', 'The Matrix (1999)']
U-value: 100837.5 P-value: 2.1376654433729527e-07
U-value: 65932.5 P-value: 0.24981112383243775

#Indiana Jones

In [16]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Indiana Jones"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]
M1=pd.to_numeric(df[sequels[3]],errors='coerce').values
M1 = M1[np.isfinite(M1)]


combinedData = np.transpose(np.array([M5,M2,M4,M1], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

['Indiana Jones and the Last Crusade (1989)', 'Indiana Jones and the Temple of Doom (1984)', 'Indiana Jones and the Raiders of the Lost Ark (1981)', 'Indiana Jones and the Kingdom of the Crystal Skull (2008)']
U-value: 97240.0 P-value: 1.8017248346687264e-05
U-value: 107144.0 P-value: 0.3070842227239434
U-value: 120933.0 P-value: 0.00017791395232999937

#Jurassic Park

In [24]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Jurassic Park"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]



combinedData = np.transpose(np.array([M5,M4,M2], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

['The Lost World: Jurassic Park (1997)', 'Jurassic Park III (2001)', 'Jurassic Park (1993)']
U-value: 188684.0 P-value: 0.0006738642151062385
U-value: 169371.5 P-value: 0.00027537558821442277

#Pirates of the Caribbean

In [23]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Pirates of the Caribbean"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]



combinedData = np.transpose(np.array([M5,M4,M2], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

["Pirates of the Caribbean: Dead Man's Chest (2006)", "Pirates of the Caribbean: At World's End (2007)", 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)']
U-value: 308667.0 P-value: 8.817372076227087e-06
U-value: 258329.5 P-value: 0.25147758276137844

#Toy Story

In [25]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Toy Story"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]



combinedData = np.transpose(np.array([M5,M4,M2], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

['Toy Story 2 (1999)', 'Toy Story 3 (2010)', 'Toy Story (1995)']
U-value: 472908.0 P-value: 6.329730946125958e-06
U-value: 356610.0 P-value: 8.408513827408602e-05

#Batman

In [27]:
df=pd.read_csv('movieReplicationSet.csv',skipinitialspace=True)
listOfMovies=df.columns.to_list()[:400]
keyWord="Batman"
sequels=[]
for i in range(400):
    if keyWord in listOfMovies[i]:
        sequels.append(listOfMovies[i])

print(sequels)
M4=pd.to_numeric(df[sequels[0]],errors='coerce').values
M4 = M4[np.isfinite(M4)]
M2=pd.to_numeric(df[sequels[1]],errors='coerce').values
M2 = M2[np.isfinite(M2)]
M5=pd.to_numeric(df[sequels[2]],errors='coerce').values
M5 = M5[np.isfinite(M5)]



combinedData = np.transpose(np.array([M2,M4,M5], dtype=object))

for i in range(len(sequels)-1):
    u1,p1 = stats.mannwhitneyu(combinedData[i],combinedData[i+1])
    print("U-value:",u1,"P-value:",p1)
    
print("")

['Batman & Robin (1997)', 'Batman (1989)', 'Batman: The Dark Knight (2008)']
U-value: 81864.5 P-value: 1.5631433682224575e-09
U-value: 63650.5 P-value: 4.5301045329475817e-39